[Unit]
Description=AzerothCore 3.3.5a Auth Server
After=network.target

[Service]
PrivateTmp=true
Type=simple
PIDFile=/run/azerothcore/authserver.pid
WorkingDirectory={{ home }}/{{ azerothcore_folder }}/{{ azerothcore_server_release }}/bin/
ExecStart={{ home }}/{{ azerothcore_folder }}/{{ azerothcore_server_release }}/bin/authserver

[Install]
WantedBy=multi-user.target