[Unit]
Description=AzerothCore 3.3.5a Auth Server
After=network.target

[Service]
# Security related flags
NoNewPrivileges=no
PrivateTmp=yes
PrivateDevices=no
DevicePolicy=closed
ProtectSystem=strict
ProtectHome=read-only
ProtectControlGroups=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
RestrictAddressFamilies=AF_UNIX AF_INET
RestrictNamespaces=no
RestrictRealtime=no
RestrictSUIDSGID=no
MemoryDenyWriteExecute=yes
LockPersonality=yes
User={{azerothcore_service_user}}
Group={{azerothcore_service_group}}

# To get the service working
Type=simple
PIDFile={{ home }}/{{ azerothcore_folder }}/temp/authserver.pid
WorkingDirectory={{ home }}/{{ azerothcore_folder }}/{{ azerothcore_server_release }}/bin/
ExecStart={{ home }}/{{ azerothcore_folder }}/{{ azerothcore_server_release }}/bin/authserver

[Install]
WantedBy=multi-user.target